@import url('../css/fonts.css');


body {
    padding-top: 60px;
    font-family: "nunito-regular";
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(37,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F6FFFF'/%3E%3Cstop offset='1' stop-color='%23FFFDF7'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(261,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F0F8FF'/%3E%3Cstop offset='1' stop-color='%23FFFBF6'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='7.919999999999999'%3E%3Cpath d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='2.64' transform='' cx='500' cy='100' r='40'/%3E%3Cpath transform='' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='2.4'%3E%3Cpath transform='' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='5.28' transform='' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
  }

#btn-ingresar-salir {
    float: right;
    font-size: 16px;
}

.card {
    border-radius: 25px;
}

.card-body {
    cursor: pointer;
}

.color-verde-principal {
    color: #00A82D;
}

table {
    background-color: #fff;
}

.container-inicio {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-inicio h1 {
    font-size: 40px;
}

.container-inicio p {
    font-size: 20px;
}

.container-inicio-sesion span {
    font-size: 25px;
}

.container-inicio-sesion .link-crear-cuenta {
    font-weight: 700;
    font-size: 20px;
}

.contenedor-vistas {
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.titulo {
    font-size: 50px;
}

.tarjeta-insumo {
    border-radius: 10px;
    border: solid #00A82D 0.2px;
    padding: 20px;
}

h1 {
    font-family: "nunito-bold";
}

.formulario {
    text-align: center;
    width: 400px;
}

.footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}


.navbar-brand {
    font-size: 25px;
    font-family: "nunito-bold";
}


#navegacion {
    background-color: #dd4b39;

}

#navegacion li a {
    font-weight: 500;
    color: #fff !important;
}


#navegacion-titulo-principal {
    color: #fff;
}

.modal-header {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background-color: #EF5350;
    color: #fff;
}

.modal-footer {
    padding: 20px;
}

.modal-precio-producto {
    font-size: 33px;
    font-weight: 700;
}

.map-responsive iframe {
    height: 400px;
    width: 100%;
}


.modal-content {
    border-radius: 23px;
}

#principal-contenedor-padre {
    display: flex;
    justify-content: center;
    align-items: center;
}


.row {
    margin: 0;
    padding: 0;
}

p {
    font-size: 19px;
}

#btnverPaginaVendedor {
    cursor: pointer;
}

@media (max-width:767px) {
    .card img {
        height: 100%;
    }

    .contenedor-vistas {
        text-align: center;
    }

    #navegacion {
        background-color: #F5F5F5;
        border-end-start-radius: 20px;
        border-end-end-radius: 20px;
    }

    #navbarNav li {
        font-size: 20px;
        font-weight: 700;
        margin-top: 5px;
    }

    #navbarNav li {
        font-size: 20px;
        font-weight: 700;
        margin-top: 5px;
    }

    .btn-registro {
        font-size: 20px;
        font-weight: 700;
    }

    .formulario {
        width: 300px;
    }
}

@media (min-width:775px) {
    #navegacion {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    #fila-principal-texto {
        margin-top: 20px;
    }

    #fila-principal {
        margin-top: 60px;
    }

    #buscadorProductos {
        width: 420px;
    }

    #contacto-principal {
        width: 450px;
    }

    .img-login {
        width: 300px;
        margin-left: 40px;
        margin-top: 0px;
    }

    .alto {
        margin-top: 50px;
    }
}

@media (min-width:853px) {
    #fila-principal-texto {
        margin-top: 20px;
    }

    #fila-principal {
        margin-top: 60px;
    }
}

@media (min-width:990px) {
    #fila-principal-texto {
        margin-top: 70px;
    }
}

@media (min-width:1200px) {
    #fila-principal-texto {
        margin-top: 80px;
    }
}